# 12/11 (MON)

## 대소문자 구분

## print

In [79]:
print ("\t탭\n다음줄") # 정규식 반영

	탭
다음줄

In [80]:
print (r"\t탭\n다음줄") # r은 row의 약자로 정규식 반영 안하고“ ~ ” 그대로 실행

\t탭\n다음줄

## String

In [81]:
"py""thon" # “python”으로 합침

'python'

In [82]:
a = "python"
a[0] = "a" # 문자열은 불변객체이므로 변경 불가능

TypeError: 'str' object does not support item assignment

## Unicode

In [83]:
ord("a") # 문자에 해당하는 유니코드 확인

97

In [86]:
chr(97)  # 해당 문자로 반환

'a'

## List

In [97]:
a = ["apple", "banana", "orange"]

In [98]:
a.append("grape") # 맨 뒤에 값 추가
a

['apple', 'banana', 'orange', 'grape']

In [99]:
a.insert(1, "mango") # 원하는 위치에 하나의 값 추가
a

['apple', 'mango', 'banana', 'orange', 'grape']

In [100]:
a.extend(["melon","peach","mango"]) # 맨 뒤에 여러개의 값 추가
a

['apple', 'mango', 'banana', 'orange', 'grape', 'melon', 'peach', 'mango']

In [102]:
a.index("mango",2) # 해당 값에 해당하는 인덱스 중 원하는 위치의 인덱스 출력

7

In [103]:
a.count("mango") # 개수 카운트

2

In [104]:
a.pop(3) # 해당 인덱스의 값 뽑아내고 원래 리스트에서 삭제
a

['apple', 'mango', 'banana', 'grape', 'melon', 'peach', 'mango']

In [105]:
a.remove("apple") # 원하는 값 리스트에서 삭제
a

['mango', 'banana', 'grape', 'melon', 'peach', 'mango']

In [108]:
a.sort() # forward sorting
a

['banana', 'grape', 'mango', 'mango', 'melon', 'peach']

In [109]:
a.reverse() # backward sorting
a

['peach', 'melon', 'mango', 'mango', 'grape', 'banana']

In [112]:
def mysort(x): # 마지막 글자를 기준으로 정렬
    return x[-1]
a.sort(key=mysort)
a

['banana', 'grape', 'peach', 'melon', 'mango', 'mango']

## Set : 집합과 동일하며 순서가 없음(유일한 값, 정렬X, index 없음)

## Tuple : 리스트와 동일하나 읽기 전용(index 존재)

## Dictionary : key 와 value로 구성

In [118]:
d = {"a":"apple","b":"banana","c":"carrot"}
d.items() # key 와 value를 tuple로 반환

dict_items([('a', 'apple'), ('b', 'banana'), ('c', 'carrot')])

## 0 : False , 나머지 : True로 인식

## [1,2,3] 객체 하나를 a, b 가 같이 참조
## (하나만 바꾸어도 둘이 동시에 바뀜)

In [119]:
a = [1,2,3] 
b = a
b[2] = "a"
a

[1, 2, 'a']

## 서로 영향을 안주는 다른 객체를 생성하고 싶으면
## b = a[:] - copy 한다

# 12/12 (TUE)

## Function
## 함수도 객체다(참조)

In [122]:
def Times (a, b) :
	return (a*b)
myTimes = Times
myTimes(10, 10)

100

In [2]:
def swap(x,y):
    return y,x
swap(1,2)

(2, 1)

In [5]:
def setValue(newValue):
    x = newValue
retval = setValue(10)    
print (retval)

None

In [6]:
a = 10
def isZero(arg1):
    return arg1 == 0
isZero(a)

False

In [126]:
wordlist = ["a","b","c"]
def change(x):
    x[0] = "d"
change(wordlist)
wordlist

['d', 'b', 'c']

In [127]:
wordlist = ["a","b","c"]
def change2(x):
    x = x[:]
    x[0] = "d"
change2(wordlist)
wordlist

['a', 'b', 'c']

In [41]:
def Times(a=10, b=20):
    return a*b

## 가변 인수

In [131]:
def union2(*ar): # *ar : 갯수가 정해지지 않은 인수를 tuple 형태로 전달
    res=[]
    for item in ar:
        for i in item:
            if not i in res:
                res.append(i)
    return res
union2("HAM","RAM","KIM")

['H', 'A', 'M', 'R', 'K', 'I']

In [132]:
def userURL(server, port, **user): # **ar : 갯수가 정해지지 않은 인수를 dictionary 형태로 전달 
    str = "http://"+server+":"+port+"/?"
    for key in user.keys():
        str += key+"="+user[key]+"&"
    return str  
userURL("test.com", "8080", id="userid", passwd="1234")

'http://test.com:8080/?id=userid&passwd=1234&'

## Recursive Function

In [133]:
def factorial(x):
    if x == 1 :
        return 1
    return x * factorial(x-1)
factorial(10)

3628800

In [168]:
def hanoi(ndisks, start=1, end=3): 
    if  ndisks: 
        hanoi(ndisks-1, start, 6-start-end) 
        print (start, "번 기둥의", ndisks, "번 원반을", end, "번 기둥에 옮겨라")
        hanoi(ndisks-1, 6-start-end, end)
hanoi(ndisks=3)

1 번 기둥의 1 번 원반을 3 번 기둥에 옮겨라
1 번 기둥의 2 번 원반을 2 번 기둥에 옮겨라
3 번 기둥의 1 번 원반을 2 번 기둥에 옮겨라
1 번 기둥의 3 번 원반을 3 번 기둥에 옮겨라
2 번 기둥의 1 번 원반을 1 번 기둥에 옮겨라
2 번 기둥의 2 번 원반을 3 번 기둥에 옮겨라
1 번 기둥의 1 번 원반을 3 번 기둥에 옮겨라

## pass : 아무것도 하지마라

## lambda : 이름 없는 한 줄짜리 함수

In [134]:
g = lambda x,y : x*y
g(2,3)

6

## Generator

In [74]:
def reverse(data):
    for index in range(len(data)-1, -1, -1): # (len(data)-1 ~ 0까지 -1 간격으로)
        yield data[index]
for char in reverse("golf"):
    print(char)

f
l
o
g

In [180]:
def Fibonacci():
    a,b = 0,1
    while 1:
        yield a
        a,b=b,a+b   
for i, value in enumerate(Fibonacci()):
    if i<2 :
        print (i, value)
    else : break

0 0
1 1

## Zip : tuple 로 묶어줌 (공통 갯수 기준)

In [190]:
s1= ["a","b","c"]
s2= ["d","e","f"]
s3= ["g","h"]
z = zip(s1,s2,s3)
list(z)

[('a', 'd', 'g'), ('b', 'e', 'h')]